@page "{id}/{handler?}"
@model RecipeApplication.Pages.Recipes.ViewModel
@{
    this.ViewData["Title"] = this.Model.Recipe.Name;
}

<h2>@(this.Model.Recipe.Name)</h2>
<form asp-page-handler="Delete" asp-route-id="@(this.Model.Recipe.Id)">
    <p>
        @if (this.Model.CanEditRecipe)
        {
            <a asp-Page="Edit" asp-route-id="@(this.Model.Recipe.Id)" class="btn btn-primary">Edit</a>
            <button class="btn btn-danger">Delete</button>
        }
    </p>
</form>
<p>@(this.Model.Recipe.Method)</p>

<dl>
    @foreach (var item in this.Model.Recipe.Ingredients)
    {
        <dt>@item.Name</dt>
        <dd>@item.Quantity</dd>
    }
</dl>
