@model IEnumerable<CarServiceModel>

@{
    var cars = this.Model?.ToList() ?? new List<CarServiceModel>();
}

<section class="row">
    @foreach (var car in cars)
    {
        <article class="d-flex col-md-4 mb-5">
            <div class="align-self-stretch card">
                <img src=@car.ImageUrl class="card-img-top" alt="@car.Brand @car.Model - @car.Year (@car.CategoryName)">
                <div class="flex-grow-1 flex-shrink-1"></div>
                <div class="flex-grow-0 card-body text-center">
                    <h5 class="card-title text-center">@car.Brand @car.Model (@car.Year)</h5>
                    <a asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id" class="btn btn-primary">Details</a>
                    @if (this.ViewBag.AllowCarEdit is true)
                    {
                        <a asp-controller="Cars" asp-action="Edit" asp-route-id="@car.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="Cars" asp-action="Delete" asp-route-id="@car.Id" class="btn btn-danger">Delete</a>
                    }
                </div>
            </div>
        </article>
    }
</section>