@model AllCarsQueryModel

@using static CarRentingSystem.WebConstants

@{
    this.ViewBag.Title = "All Cars";

    if (this.Model is null)
    {
        throw new NullViewModelException(typeof(AllCarsQueryModel).FullName!);
    }

    var previousPage = Math.Max(1, this.Model.CurrentPage - 1);
    var maxPage = Math.Max(1, (int)Math.Ceiling((double)this.Model.TotalCars / CarsPerPage));
    var nextPage = Math.Min(maxPage, this.Model.CurrentPage + 1);
}

<div class="container">
    <aside>
        <form class="row mb-5" method="get">
            <div class="mb-5 col-md-3">
                <label asp-for="SearchTerm" class="form-label"></label>
                <input asp-for="SearchTerm" class="form-control" placeholder="BMW 640D">
            </div>
        
            <div class="mb-5 col-md-3">
                <label asp-for="Brand" class="form-label"></label>
                <select
                    asp-for="Brand"
                    asp-items="@(this.Model.Brands.Select(b => new SelectListItem(b, b)))"
                    class="form-select">
                    <option value="" selected="">All</option>
                </select>
            </div>
        
            <div class="mb-5 col-md-3">
                <label asp-for="Sorting" class="form-label"></label>
                <select asp-for="Sorting" class="form-select">
                    <option value="0" selected="selected">Date Created</option>
                    <option value="1">Year</option>
                    <option value="2">Brand And Model</option>
                </select>
            </div>

            <div class="mb-5 col-md-3 align-self-end">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </aside>
    
    @if (!this.Model.Cars.Any())
    {
        <h2 class="text-center">No cars found by the given criteria!</h2>
    }

    <partial name="_CarsPartial" model="this.Model.Cars"/>
    
    <section class="row">
        <div class="col-md-6 d-flex justify-content-start">
            <a 
                class="btn btn-primary @(this.Model.CurrentPage == 1 ? "disabled" : string.Empty)" 
                asp-controller="Cars" 
                asp-action="All" 
                asp-route-currentPage="@previousPage"
                asp-route-brand="@(this.Model.Brand)"
                asp-route-searchTerm="@(this.Model.SearchTerm)"
                asp-route-sorting="@((int)this.Model.Sorting)"><<</a>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <a 
                class="btn btn-primary @(this.Model.CurrentPage == maxPage ? "disabled" : string.Empty)" 
                asp-controller="Cars" 
                asp-action="All" 
                asp-route-currentPage="@nextPage"
                asp-route-brand="@(this.Model.Brand)"
                asp-route-searchTerm="@(this.Model.SearchTerm)"
                asp-route-sorting="@((int)this.Model.Sorting)">>></a>
        </div>
    </section>
</div>
