@model CarDetailsServiceModel

@{
    if (this.Model is null)
    {
        throw new NullViewModelException(typeof(CarDetailsServiceModel).FullName!);
    }
}

<div class="car-details">
    <div class="row">
        <img src="@this.Model.ImageUrl" alt="">
    </div>
    <div class="row mt-4 bg-light">
        <div class="border col-md-4 col-6 ps-30 pe-0 py-4">
            <p class="text-muted">Brand</p>
            <p class="h5">@this.Model.Brand</p>
        </div>
        <div class="border col-md-4 col-6 ps-30 py-4">
            <p class="text-muted">Model</p>
            <p class="h5 m-0">@this.Model.Model</p>
        </div>
        <div class="border col-md-4 col-6 ps-30 py-4">
            <p class="text-muted">Category</p>
            <p class="h5 m-0">@this.Model.CategoryName</p>
        </div>
        <div class="border col-6 ps-30 py-4 text-center">
            <p class="text-muted">Year</p>
            <p class="h5 m-0">@this.Model.Year</p>
        </div>
        <div class="border col-6 ps-30 py-4 text-center">
            <p class="text-muted">Dealer</p>
            <p class="h5 m-0">@this.Model.DealerName</p>
        </div>
        <div class="border col-12 ps-30 py-4 text-center">
            <p class="text-muted">Description</p>
            <p class="h5 m-0">@this.Model.Description</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 mb-4 p-0">
            <div class="btn btn-primary btn-rent">Rent<span class="fas fa-arrow-right ps-2"></span> </div>
        </div>
    </div>
</div>