@model IndexViewModel

@{
    this.ViewBag.Title = "Welcome!";

    if (this.Model is null)
    {
        throw new NullViewModelException(typeof(IndexViewModel).FullName!);
    }

    var cars = this.Model.Cars.ToList();
}

@if (!cars.Any())
{
    <div class="p-5 mb-4 rounded-3">
        <div class="h-100 p-5 text-dark bg-light rounded-3">
            <h2>Welcome to the best place for renting cars!</h2>
            <p>There is no cars in the system available currently. Be the first to add a new car.</p>
            <a class="btn btn-outline-dark" asp-controller="Cars" asp-action="Add">Add Car</a>
        </div>
    </div>
}

<div id="carouselExampleIndicators" class="carousel slide mt-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        @for (var i = 0; i < cars.Count; i++)
        {
            var car = cars[i];

            <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                <img src=@car.ImageUrl class="d-block w-100" alt="@car.Brand @car.Model - @car.Year">
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        <a 
                            class="text-decoration-none text-white"
                            asp-controller="Cars" 
                            asp-action="Details" 
                            asp-route-id=@car.Id
                        >@car.Brand @car.Model (@car.Year)</a>
                    </h5>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="row my-5">
    <div class="col-12 text-center">
        <button class="btn btn-primary" id="show-statistics-btn">Show Statistics</button>
    </div>
</div>

<div class="row align-items-md-stretch mt-5 d-none" id="home-statistics">
    <div class="col-md-4">
        <h2 id="total-cars" class="h-100 p-5 text-white bg-dark border rounded-3 text-center">
        </h2>
    </div>
    <div class="col-md-4">
        <h2 id="total-users" class="h-100 p-5 text-white bg-dark border rounded-3 text-center">
        </h2>
    </div>
    <div class="col-md-4">
        <h2 id="total-rents" class="h-100 p-5 text-white bg-dark border rounded-3 text-center">
        </h2>
    </div>
</div>

@section Scripts
{
    <script>
        $showStatisticsBtn = $('#show-statistics-btn');
        $homeStatistics = $('#home-statistics');

        $showStatisticsBtn.on('click', ev => {
            $.get('/api/statistics', (data) => {
                $('#total-cars').text(data.totalCars + " Cars");
                $('#total-users').text(data.totalUsers + " Users");
                $('#total-rents').text(data.totalRents + " Rents");

                $showStatisticsBtn.hide();
                $homeStatistics.removeClass('d-none');

                $("html, body").animate({ scrollTop: $(document).height() }, 1000);
            });
        });
    </script>
}
